{% extends "layout.html" %}

{% block content %}
<h1>Konfiguration gespeichert!</h1>
<p> Sie werden in Kürze zur Startseite umgeleitet...</p>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Hinweis:</strong> Änderungen wurden gespeichert. Der Streaming-Server wird neu gestartet.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Schließen"></button>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
     let button = document.getElementById('submitFormButton');
     button.disabled = true; //disable button
        button.classList.add('disabled');


    setTimeout(function () {
        window.location.href = '/'; // JavaScript-basierte Umleitung
    }, 20000); // 10000 Millisekunden = 20 Sekunden

    });


</script>
{% endblock %}
