.image-container {
    position: relative;
    display: block; /* geändert von inline-block für bessere Responsive-Eigenschaften */
    width: 100%; /* Damit es responsive ist */
    max-width: 400px; /* Maximale Breite entsprechend deinem Design */
}

.colorOverlayContainer {
    position: absolute;
    top: 26%;  /* Beispielwert: Anpassen, um das Overlay richtig zu positionieren */
    left: 27%; /* Beispielwert: Anpassen, um das Overlay richtig zu positionieren */
    width: 44%; /* Prozentual zur Anpassung an das Bild */
    height: 44%; /* Prozentual zur Anpassung an das Bild */
    border: 1px solid white;

}

.overlay {
    width: 100%;
    height: 100%;
}

 .dropzone{
 border:0 !important;

 }

 .dropzone-container {
  border: 2px dashed #0087F7;
  border-radius: 12px;
  width: 100%;
  text-align: center;
  transition: border .3s ease-in-out;
}

.dz-message {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
}

.dropzone-container:hover {
  border-color: #0056b3;
}
